<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ExpenseTracker - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Load the static tag -->
    {% load static %}
    <!-- Include your custom CSS files here -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Welcome to Adepentane's ExpenseTracker!</h1>
        <!-- Display data passed from the view -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Add Money</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Date</th>
                    <th scope="col">Category</th>
                    <!-- Include other fields as needed -->
                </tr>
            </thead>
            <tbody>
                {% for item in page_obj %}
                    <tr>
                        <td>{{ item.user|capfirst }}</td>
                        <td>{{ item.add_money }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.Date }}</td>
                        <td>{{ item.Category }}</td>
                        <!-- Include other fields as needed -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Include your custom JS files here -->
</body>
</html>
